div{
    margin: 2px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd; 
}    
th, td {
    text-align: left;
    padding: 10px;  
}  
tr:nth-child(even) {
    background-color: #f2f2f2;  
}
thead{
    background-color: #f2f2f2;  
}
h1{
    text-align: center;
}
.con{
    width:230px;
    display: flex;
}
.right{
    margin-left: auto; 
    margin-right: 0;
}
.centerText{
    text-align: center;
}
.inline{
    display: inline-block;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.notbold{
    font-weight: normal;
}
